{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}
{% load static %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Emergency</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Emergency</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1><span>Emergency</span> Numbers</h1>
            <p>Emergency Numbers of Police Station, Hospital, Blood Bank & others</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="detail">
                        <h3><strong>Emergency Chittagong Police Station</strong></h3>
                        <p>An ordinary person should know something very important contract numbers. Chittagong Police Station numbers are among them. <strong>Emergency Chittagong Police Station</strong> numbers  helps people in danger. That’s why we provided the Police Station numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Police Station numbers. Which will meet the need for Police Support  at its urgent moment.</p><br>
                        <h3><strong>Chittagong Police Station numbers Are Given Below:</strong></h3><hr>
                        <ul>
                            <li>OC Raozan: 01713373639</li>
                            <li>OC Hathazari: 01713373640</li>
                            <li>OC Fatikchari: 01713373641</li>
                            <li>OC Ranguniya: 01713373642</li>
                            <li>OC Potiya: 01713373643</li>
                            <li>OC Mireswarai: 01713373644</li>
                            <li>OC Sitakunda: 01713373645</li>
                            <li>OC Anowara: 01713373646</li>
                            <li>OC Boyalkhali: 01713373647</li>
                            <li>OC Bashkhali: 01713373648</li>
                            <li>OC Satkaniya: 01713373649</li>
                            <li>OC Lohagora: 01713373650</li>
                            <li>OC Candnais: 01713373651</li>
                            <li>OC Sandwip: 01713373652</li>
                            <li>OC Cox’s Bazar: 01713373663</li>
                            <li>OC Ramu: 01713373664</li>
                            <li>OC Ukhiya: 01713373665</li>
                            <li>OC Tekanaf: 01713373666</li>
                            <li>OC Chakoriya: 01713373667</li>
                            <li>OC Kutubdiya: 01713373668</li>
                            <li>OC Maheskhali: 01713373669</li>
                            <li>OC Pekuya: 01713373670</li>
                            <li>OC Comilla Kotwali: 01713373685</li>
                            <li>OC Chauddagram: 01713373686</li>
                            <li>OC Debirdwar: 01713373687</li>
                            <li>OC Homna: 01713373688</li>
                            <li>OC Laksam: 01713373689</li>
                            <li>OC Daudkandi: 01713373690</li>
                            <li>OC Buricang: 01713373691</li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="detail">
                        <h3><Strong>Emergency Chittagong Hospital</Strong></h3>
                        <p>An ordinary person should know something very important contract numbers. <strong>Emergency Chittagong Hospital</strong> numbers are among them. Emergency Chittagong Hospital numbers helps people in danger. That’s why we provided the Hospital numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Hospital numbers. Which will meet the need for Hospitals at its urgent moment.</p><br>
                        <h3><Strong>Emergency Chittagong Hospital numbers are given below:</Strong></h3><hr>
                        <ul>
                            <li><strong>C.S.C.R</strong></li>
                            <li>Probortak Circle</li>
                            <li>Phone: 031-2550625-9</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Chittagong Metropolitan Hospital Pvt. Ltd.</strong></li>
                            <li>948, O.R Nizam Road, Chittagong</li>
                            <li>Phone: 654732, 655791, 651242</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Surgiscope Pvt. Ltd.</strong></li>
                            <li>53/1, Panchlaish R/A, Chittagong</li>
                            <li>Phone: 652038, 653882, 652721</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Medical Centre</strong></li>
                            <li>953, O.R Nizam Road, Chittagong</li>
                            <li>Phone: 651054, 651944</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Chittagong Health Care Hospital Pvt. Ltd.</strong></li>
                            <li>4, O.R Nizam Road, Chittagong</li>
                            <li>Phone: 652728, 653965</li>
                        </ul><hr>
                        <ul>
                            <li><strong>CHEVRON</strong></li>
                            <li>In front of Makki Mosque</li>
                            <li>Phone: 031-657863, 652533</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Ekhushe Hospital</strong></li>
                            <li>Mirzarpul</li>
                            <li>Phone: 031-657629, 657926</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="detail">
                        <h3><strong>Emergency Chittagong Blood Bank</strong></h3>
                        <p>An ordinary person should know something very important contract numbers. <strong>Emergency Chittagong Blood Bank</strong> numbers are among them. Emergency Chittagong Blood Bank numbers helps people in danger. That’s why we provided the Blood Bank numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Blood Bank numbers. Which will meet the need for Blood at its urgent moment.</p><br>
                        <h3><strong>Emergency Chittagong Blood Bank numbers are given below:</strong></h3><hr>
                        <ul>
                            <li><strong>Chittagong Medical College</strong></li>
                            <li>Contract Number: 619199</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Ferozshah Blood Donor’s Club</strong></li>
                            <li>Contract Number: 752302</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Lions Hospital</strong></li>
                            <li>Contract Number: 616652</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Port Hospital</strong></li>
                            <li>Contract Number: 502024</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Red Drop, Blood Donor’s Club</strong></li>
                            <li>Contract Number: 659057</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Railway Hospital</strong></li>
                            <li>Contract Number: 602220</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Sandhani Blood Bank</strong></li>
                            <li>Contract Number: 616625</li>
                        </ul><hr>
                        <ul>
                            <li><strong>U.S.TC Blood Bank</strong></li>
                            <li>Contract Number: 659070</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Patenga Blood Bank</strong></li>
                            <li>Contract Number: 01719-301389</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    
                    <div class="detail">
                        <h3><strong>Emergency Dhaka Police Station</strong></h3>
                        <p>An ordinary person should know something very important contract numbers. <strong>Emergency Dhaka Police Station</strong> numbers are among them. Emergency Dhaka Police Station numbers  helps people in danger. That’s why we provided the Police Station numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Police Station numbers. Which will meet the need for Police Support  at its urgent moment.</p><br>
                        <h3><strong>Dhaka Police Station numbers are given below:</strong></h3><hr>
                        <ul>
                            <li>OC Savar: 01713373327</li>
                            <li>OC Dhamarai: 01713373328</li>
                            <li>OC Keraniganj: 01713373329</li>
                            <li>OC Nababganj: 01713373330</li>
                            <li>OC Dohar: 01713373331</li>
                            <li>OC Ashuliya: 01713373332</li>
                            <li>OC Dokkhin Keraniganj: 01713373333</li>
                            <li>OC Narayanganj: 01713373345</li>
                            <li>OC Fatulla: 01713373346</li>
                            <li>OC Bandar: 01713373347</li>
                            <li>OC Shiddhirganj: 01713373348</li>
                            <li>OC Araihajar: 01713373349</li>
                            <li>OC Sonargao: 01713373350</li>
                            <li>OC Rupganj: 01713373351</li>
                            <li>OC Joydebpur: 01713373363</li>
                            <li>OC Tongi: 01713373364</li>
                            <li>OC Kaliyakair: 017133733654</li>
                            <li>OC Sripur: 01713373366</li>
                            <li>OC Kapasiya: 01713373367</li>
                            <li>OC Kaliganj: 01713373368</li>
                            <li>OC Manikganj: 01713373379</li>
                            <li>OC Ghior: 01713373380</li>
                            <li>OC Sibaloy: 01713373381</li>
                            <li>OC Daulatpur: 01713373382</li>
                            <li>OC Harirampur: 01713373383</li>
                            <li>OC Saturiya: 01713373384</li>
                            <li>OC Singair: 01713373385</li>
                            <li>OC Munsiganj: 01713373396</li>
                            <li>OC Tongibari: 01713373397</li>
                            <li>OC Lauhajang: 01713373398</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    
                    <div class="detail">
                        <h3><strong>Emergency Dhaka Hospital</strong></h3>
                        <p>An ordinary person should know something very important contract numbers. <strong>Emergency Dhaka Hospital</strong> numbers are among them. Emergency Dhaka Hospital numbers helps people in danger. That’s why we provided the Hospital numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Hospital numbers. Which will meet the need for Hospitals at its urgent moment.</p><br>
                        <h3><strong>Emergency Dhaka Hospital numbers are given below:</strong></h3><hr>
                        <ul>
                            <li>United Hospital Limited</li>
                            <li>Plot # 15, Road # 71, Gulshan-2, Dhaka</li>
                            <li>Phone: 01914001326, 01914001234</li>
                        </ul><hr>
                        <ul>
                            <li>Central Hospital</li>
                            <li>H-2, Road-5, Dhanmondi, Dhaka</li>
                            <li>Phone: 966001519</li>
                        </ul><hr>
                        <ul>
                            <li>Apollo Hospitals Dhaka</li>
                            <li>Rd-81, Block-E, Bashundhara R/A, Dhaka</li>
                            <li>Phone: 98916612, 98916801, 01730466845</li>
                        </ul><hr>
                        <ul>
                            <li>Lab Aid Cardiac Hospital</li>
                            <li>H-1, Rd-4, Dhanmondi, Dhaka</li>
                            <li>Phone: 86107938, 96702103 , 0176585828</li>
                        </ul><hr>
                        <ul>
                            <li>Lab Aid Specialized Hospita</li>
                            <li>H-6, Rd-4, Dhanmondi Dhaka</li>
                            <li>Phone: 86107938, 96702103</li>
                        </ul><hr>
                        <ul>
                            <li>Square Hospital Ltd.</li>
                            <li>18/F West Panthapath, Dhaka– 1205</li>
                            <li>Phone: 8144466, 8144477, 8144488</li>
                        </ul><hr>
                        <ul>
                            <li>Harun Eye Foundation & Green Hospital</li>
                            <li>H-31, Rd-6, DRA</li>
                            <li>Phone: 8612412, 8619068, 9663183</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    
                    <div class="detail">
                        <h3><strong>Emergency Dhaka Blood Bank</strong></h3>
                        <p>An ordinary person should know something very important contract numbers. <strong>Emergency Dhaka Blood Bank</strong> numbers are among them. Emergency Dhaka Blood Bank numbers helps people in danger. That’s why we provided the Blood Bank numbers to peoples emergency needs. Anyone from our list can find the most important Emergency Blood Bank numbers. Which will meet the need for Blood at its urgent moment.</p><br>
                        <h3><strong>Emergency Dhaka Blood Bank numbers are given below:</strong></h3><hr>
                        <ul>
                            <li><strong>Quantum Blood Bank Lab</strong></li>
                            <li> 31/V Shilpacharya Zainul Abedin Sarak, Shantinagar, Dhaka 1217</li>
                            <li>Phone: 02-9351365, 01714010869</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Bangladesh Red Crescent Blood Bank</strong></li>
                            <li>7/5, Aurangzeb Road, Mohammadpur, Dhaka.</li>
                            <li>Phone: 02-9116563, 02-8121497, 02-9139940</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Badhan Blood Bank</strong></li>
                            <li>Central Office, T.S.C(Ground Floor), University of Dhaka, Dhaka-1000</li>
                            <li>Phone: 02-8629042, 01534982674</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Thalassemia Blood Bank</strong></li>
                            <li>30 Chamelibag, 1st Lane, Dhaka 1217</li>
                            <li>Phone: 02-8332481</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Police Blood Bank</strong></li>
                            <li>Central Police Hospital, Rajarbag, Dhaka</li>
                            <li>Phone: 9362573, 01713-398386, 01819-284878</li>
                        </ul><hr>
                        <ul>
                            <li><strong>Mukti Blood Bank & Pathology Lab</strong></li>
                            <li>54 (1st Floor), Bir-Uttam A.M. Shafiullah Road, Free School Street, Dhaka-1207</li>
                            <li>Phone: 2-8624249</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    
                    <div class="detail">
                        <h3>Security</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">10</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">11</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">12</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">13</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">14</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">15</div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

{% endblock %}